services:
  - type: web
    name: gog-frontend
    env: static
    buildCommand: npm run build
    staticPublishPath: ./dist
    routes:
      - type: rewrite
        source: /(.*)
        destination: /index.html
    headers:
      - path: /static/*
        name: Cache-Control
        value: public, max-age=31536000
